<form class="create-article" action="/admin/role/store" method="POST">
  <div class=" card-header">
    <h1 class="card-title">Thêm vai trò</h1>
  </div>
  <br><br>

  <h6 class="font-weight-bold">Tên vai trò</h6>
  <input class="form-control form-control-lg" placeholder="Enter role name" name="name" rows="2"></input>

  <br><br>
  <div class="form-group">
    <button class="btn btn-success" type="submit">Lưu</button>
  </div>
</form>