<form class="create-article" action="/admin/category/update" method="POST">
  <input type="hidden" name="id" value="<%= category.id %>">
  <h6 class="font-weight-bold">Tên danh mục</h6>
  <input class="form-control form-control-lg" placeholder="Tên thương hiệu" name="name" value="<%= category.name %>"></input>
  <br>
  <div class="form-group">
    <button class="btn btn-success" type="submit">Lưu</button>
  </div>
</form>